.welcome{
    text-align: center;
    background-color: rgb(7, 12, 10);
    color: white;
}
nav{

    display: flex;
    background-color: darkslategray;
    /* padding: 30px; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
ul>li>a{
        font-size: 26px;
    text-decoration: none;
    color: whitesmoke;
}
ul>li>a:hover{
    color: rgba(231, 197, 25, 0.731);
    padding-bottom: 5px;
    border-bottom: 4px solid rgba(220, 77, 77, 0.183);
    transition: linear;
    /* transform: rotateX('angle(180)'); */
}
.logo{
    height: 100px;
    width: 100px;
}
.logo>img{
    width: 100%;
}